
.topic-detail-header {
  bottom: 10px;
}

.base-info {
  width: 100%;

  .base-info-header {
    background: #fff;
    min-width: 960px;
    height: 200px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    ul {
      width: 320px;
      position: relative;

      li {
        float: left;
        font-size: 13px;
        width: 320px;
        white-space: nowrap;
        text-overflow: ellipsis;
        /**超出部分省略号**/
        overflow: hidden;
        /** 隐藏超出的内容 **/
        height: 30px;
        line-height: 30px;

        b {
          font-weight: 600;
        }

        .special-li {
          min-width: 960px;
          position: absolute;
          z-index: 9;
          left: 0;
          bottom: 0;
        }
      }
    }

    .traffic-table {
      margin: 10px 0;

      .traffic-header {
        width: 100%;
        height: 44px;
        font-weight: bold;
        background: rgb(245, 245, 245);
        border: 1px solid #e8e8e8;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;

        span {
          color: rgba(0, 0, 0, 0.65);
          font-size: 13px;
          line-height: 44px;
          font-weight: 100;
        }

        .k-abs {
          font-size: 12px;
        }
      }
    }
  }

  .p-params {
    display: inline-block;
    padding: 0px 10px;
    border-radius: 4px;
    border: 1px solid rgba(217, 217, 217, 1);
    margin: 0px 8px 8px 0px;

    &-unFinished {
      background: rgba(245, 34, 45, 0.2);
    }
  }

  .p-description {
    margin-left: 20px;

    span {
      display: inline-block;
      width: 150px;
      text-align: right;
      margin-right: 10px;
    }
  }

  .o-container {
    width: 100%;
    padding: 40px 0 0 10px;
  }
}

.partionButton {
  float: right;
  margin: 30px 60px;
}

.b-list {
  button {
    margin: 0 5px;
  }
}

.title-con {
  font-size: 14px;
  color: @primary-color;
  line-height: 50px;
}

.chart-title {
  color: rgba(0, 0, 0, 0.65);
  font-size: 13px;
  line-height: 44px;
  font-weight: 100;
  background: rgb(245, 245, 245);
  border: 1px solid #e8e8e8;
  padding: 0 10px;
}

.chart-box-0 {
  background-color: white;
  width: 100%;
  min-height: 520px;
  margin-bottom: 20px;

  .chart-title {
    color: rgba(0, 0, 0, 0.65);
    font-size: 13px;
    line-height: 44px;
    font-weight: 100;
    background: rgb(245, 245, 245);
    border: 1px solid #e8e8e8;
    padding: 0 10px;
  }

  .chart-divider {
    margin-bottom: -10px;
  }

  .ant-divider-horizontal {
    margin: 0px 0px 24px 0px;
  }
}

.details-box {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  b {
    font-weight: 100;
    line-height: 32px;
    font-size: 13px;
  }

  Button {
    margin: 0 5px;
  }
}

.sample-button {
  margin-right: 100px;
  float: right;
}

.topic-detail-sample {
  margin-top: 60px;

  h2 {
    line-height: 35px;
    font-size: 15px;
  }

  .detail-sample-box {
    width: 560px;
    border: 1px solid #d9d9dd;
    border-radius: 3px;

    h3 {
      font-weight: bold;
      height: 45px;
      line-height: 45px;
      border-bottom: 1px solid #e3e3e4;
      background: #f5f7f9;
      padding: 0 10px;
    }

    .detail-sample-span {
      height: 500px;
      overflow-y: auto;

      li {
        border-bottom: 1px solid #e3e3e4;
        padding: 5px 10px;
        line-height: 24px;
        font-size: 13px;
        color: #333;
      }
    }
  }
}

.is-show {
  display: none;
}

.switch {
  position: absolute;
  right: 70px;
  span {
    line-height: 20px !important;
    font-size: 12px !important; 
    margin-right: 10px;
  }
}