<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />

        <setting name="vfsImpl" value="com.xiaojukeji.kafka.manager.vfs.SpringBootVFS" />

        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
    </settings>

    <typeAliases>
        <package name="com.xiaojukeji.kafka.manager.common.entity.pojo"/>
    </typeAliases>
</configuration>