@font-face {font-family: "kafka-manager";
  src: url('//at.alicdn.com/t/font_1251424_q66z80q0hio.eot?t=1577526422376'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1251424_q66z80q0hio.eot?t=1577526422376#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAABUYAAsAAAAAJugAABTKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCHBgq5SK4qATYCJANsCzgABCAFhSkHgnEbRyAzo7aS1bJN9l8ecIfqFm5JzAiyFYlBJppK7MWPHpXo8hTajjZeoe9jt3j6W7tjEcwVDvr9UEp4/n+/fvvce57fN+a4z/xFMvekmiDijZSopFlUiN8zovPqzJcOPkiBu/cMgQImBcSNDAXkLPJqr7Zs5wDDLeewgTIYhuVDAQS0+fnA/+H5bf6fW4JKDEEsSlwoFmU0jouBRVtPvEaxshLuuo0XfhZRBgtf6tdFufJFJYe6hfv0kum3Gmysb6PYHspFKpfGsB4A/yP4f1OVOsoz6nQ3zFosgPWVgQJ4J/k1+r7LOCtLctZSlHWZUsZYLeqGhWMzOV1Wp9MxBmCBHaiMFOBiWlTAQHWTOe1FBOBUH1I+P7ZqPxh3bQ5PsQh7lel4MASIGcl0ZNmKddsIUbxrCSDnTp88TJhTUIVHCLN8wS0VeYFHaJ6ZT8Bz9vNliLkSgsGzeCE3nVh+jEW9DHd29z+xr/O4158KOLcCC0wHFMwCYaXMxyYwnZFY9PtDxQFzGY1S6KVXRcraFlltrX0OOeuSax546b3/zVve+q7X7R8Y7vzUd68T2uPpHQ1hru9u/0ceVEiIKBOSo4SPQ6iieFgCMmSJqVGnQZEUQ54CiA86OgBZRRsa0EuYhgr0ahoS6I18MFqGD9A2GCHoIjByoKvBKIGuBcMH3QeGAz0EhoCeBaMKegkMBb0Ghgf6AAwL+hKMAPQ9GBnQ/0hDFvryjBh0ORg10HVg1EHXg9EAvQ5GEbSLNKTQP5AGA8NtRh60gx4UAGjGt+gB3iE6Dck3XuZn2jPGkKD4vifEQimJ9HQlJQAJTx11MRYDdZrvvFC7RntGLufcgSJ7nGoQLWsNl0s9RbmNNFyQ0JJz6nM+hjwzDu4v8WHKuJFxEMb1xmo+58ZNGJMZk+ZIROZcYO8KqUvLeRelzk2RcNMZ+Xp+ZZsRubW+G5nLpalKFAiYEwix3p9w3sVAtgablXoyCDp+LsZGRsvxUImlOYkmsvI0b5wJTT3u5qBWUoqH1SKE4jGk5kmBxWZJFZDOt2Ks7U71qp/mMkrH1poKt4uqzKpsAioUIVUH9E9ZQ1Lv0Am72ookJwbGdnRV8p2Gxq/NTMXtORPCXHI1YPffwJq2OBC+umAxs5bpUxYtyXIr5tDYuPFt/NyVZnLp4gy7fLYRHSuVf5Cf2m/ll6AWlZJWIPnbjiN4nuT7suseDM0EQGrBritCa/i6GCcYJZ63R0MXHUeinozCwikUKiZvAkcWHmKANYMlLkMDSFHhGuU65UBBnW4YizJwV2cCOSAkBQgilXLlCGLSANifZoyhTHVGZUyaOTE6UkStc6KYRxR9EFw8Lo4p+LVao8A2KrVEqL8ClFSnBmnxMAZICtketCGrIIYIkDJC9VTBLOYA11mQM2+x/7+snHCQ6iU4ofsGjvM8aCgQLWVfYKMJQRB4OYBkXDzkw9O0jO6Fxb2oEUlHDmLp5O0T+yQQhMfCMgnIKTgEAPqj9c9LQRA4G2rGVRwWQACCvEhnuq3KvCC+36MYoLuhd96k5j5/a/itO7Gp25Gb03PcHGmy68O5+jW0/a2olDDWCgCSDwY2qx8H3YU4Ir58qqW/Qqq4VasrtT3cM7U1N/mQiJ7fMU40cm1pztIEnVl+3t3WMLDJy7vOt58IaqZCUUDViSHylQ4jQcTyHonycrjN5DGeUDkrYgOYlRiMgB06QltVTnJRjfL7u1AkOY4USGOvVMBgETmCyWLdySKZfLg0pMWQXslpY0Ay00zcn+5+zXUdl3YW/epn3/MyFnd7+cs0zxPk3UAYKrEgNFfPFbp+az+dH4sGf11ZUV9I7pzzyHfdiXdD2VqssbXBqtzCgBS0Eg+DwB55DiHOVKOgZVv9MoLK6HAEBGB6FwPQ6ed+wu/9yc293hWce/QwgfrvP7gYOvEIYZr6ht79d/Ahrh8RDZJfaRqFjUeAALjWstGFVpC4PYRdv5fi3g1FDyq+w+LGwTucWZUJeODnWEDyl4zxF9GOsxrFX1t6Bnu9LYMfKo/B3SfTq64KV/N5cMNMc9+GotL4xNkuwJgXwN7EHSb71NbSRvV+eTfh6TEXIebibqcU1TzTUH7hftW++6+WHK2arTwjq7O7MboUHvhJfiwKDf5Sft9GdqGiVM1fSMhJ0wBDuSKUB3+NMwlPv7L9x4acLEAKx40W8GLUwiefblR0ADVOs6gBNRoinweB344DkMIRYxzgTtkVecKmTuWgbzzgT+xZB3RpwwVAaM0MtMkK9AenNiK2sHXFXk/I1pS6ViWV1NAnt/ODxRhE05gscf4yAlZFrUmHZbhzVUnhyNC9FMfN6eKBUNYoIUwk7koKD4gqulEuapC8rGc5+mjma5876Ynrp9rqz3K7r53h7GCGsKgZREcY3iIkq5TzfN40DJ2hjthwusDa0kZVWFGi8ySPPmsfHwC4s8I1iMHagDj7l7T/OI5itJPLrmIk3nzE0WwCwamZId5Mz+Fk1h7hjbZxMRyxbNYY4nmR0dtZI5NMAqSWGd2ezgocHWV0KyphZWXu49S19GG87XkS9g/G0n3xXXo5ke2MI7t7Sv+nxKqXs6xyArh8+z6z+vvyzAN50PP8377rAnK/8uEy+CSpXYK0QxR2yuJuKWVnWNLO0Cyj64xld3mZo+lDqhujjnJmG5fNPiVvluLpIkfb+FwmaSqcmcMZe6rGz8xkWKN9Jsi+1WatYclxZd87dlwMIVLH8SLthahdGdvxFrYf0Btvie5Nor5sxntIaQW2Sc8zIVrkms0SvhwqV8Y0dVQXh4fq45s7a8f04ynRzoBTjmc67g2B8AVEdvegYuZR5+D9DhmRkefHC/hzkwcHSlBIhc3KyUazNIRTQzDz4P6UQIM1PBprDNAtYDGfusxHHFAxhYLUmsHCJ+7mckmdMnvTa4xET9GGxs5+jg3iU84/gvuveP7s5v23V4joOqdsFTdNdvOrHeemouvKZsa2mGFniRfw9iP5oy0LQmRhLNi7V5U24qrh/8GvcfU8oE3OZJiCAAHNL+BS43c//fKCUha0p1GrpfxBqVU3jtBZPBafZG/wuf7xJ6t73QxWEGvG/cNW6GM2YRRxBiZahBEvpo//WZ1qm7x+Qo7T8Q04AxeXrpNTNlL0oUW+rlSM002dQot4okhOGaDo0FVedEehpCvrxW0g9MQGlYFvIJxiok5G9OP5NrYTKrtC8QWn24b+oVDYVUeOqOzqkD/QezbOF3m+v3pHv2WDJUwevoGJi3ChGXyYC5fbHeUQUaPBbqT9ie2pJ3Ucf18I7tg52AJvboWdr8PtMBoKrq01ApsNlGywXUbIAGHYFdiWGRo0kNUK4UQKGlvkTwXwUmvWG+rdG/ZjygQ1VuqJ+SvRhv7dCtUe1XXwG6ZjMiUqU0uVqgiKZ5AC68CUsh0rcSO+Wi3GuzB1kCcWoMa6Nu7DlOc86f5EgagMR2PQSA8sQIGGhChlGNtEW6KSKTEY/vNYIGqkqpGeHL2bMZlCpZSiRiwAM1JbGjwtdmLL1mGjFy++2DXHXnN/tcf93AFq9jpxmIt0hYlrmeO6geb6xfcH77vtBueEb22t0o1ToilXGHpwCqRU2hbqt/SVBJeFzFhD9pfa2rdAH2osA8sqr72WBmbu9F2aEDxBRQBzlRXcMvBLxBmUx/M6te3YeqNMH1f0Vhl68O/ZEZQ5f82Oc4E4U6TptnFnbzLEfPHMzZnYPn+iiAZoVDrzbJHL/X467x+AG7kJ2MHcrg0gUeizDfRPAPD1QevH7AhK3u8TFvReRejD0Adp0RtSTjiaAYg//9eUqlc1rQxUiv0iOiP+OvH+J0eIXuKI7aPQX0I3/CJAhE8JLvyO1+OPlVwljYXq0Nnb52cOpdanHkoYuSW/VfMVsqC6Wd4MFC5VN5GdTemmwEckm/26/a5Cs5NeimFyWOHFepT9CYVYDIhOgc6V86qdXooPeNIl2dOR0CCh6U6Uqyaxlh/Fq02s4cl+FeZEs6uo1QRVobyWF8UXPjFw//4WfP8ish4YijfrI1dzVqav0SzMaQc40nK1fxNM1Gi8bqgdrWaLxusF54UXSek9gN036+wa8vj/eWQttv7+xTrejmopDnhuj89IaAGebyqS5DBYUXjOUbHMrM2WWWDSxhENZ2tk5nJV15XQmmgle8Wasw1SczXNFkcUl2i0KCmWFcosHx9H2GjVUhNtKS8soTfSSixQRbPV7RBHaLMtSNeI/r9uxr7CaJIl3bC20H/ft0YrbZFEu6rNkaaUV3i7XCnJgayuGBXoCWmBztrLJD0WgUoBOdoaRW14jq6cLOuu6F6Sik382sK0wHKrngMg6kqgjk64GC7p6ChZrInODqhEIsybzBVKWmT58oXFrFJcU+pTPF+ZLwPphUXU9lhpuf9yS3oTlq+lNyaV6LRfLc9Wj4tfW/haqM0JqiP2RQhy03kYBiz19h+HPdsMtcBg2bGyNuUAZcXAzkZoBXS8XeoKcd1Xh9xs4YrATGM9iJlHc5KA6vR3UsH1a4lJDAVfQU9yJsHsEHZSotBT5l/m0uBCNvyrBZGZ6aHxqHzCmZgvT38plcmkX4oQZmOZdUYuUDCsDIVADuIhEnE+eeIUGVkYGbyl2omO/vPPKGTUFqFVcpPBs+1tGwPFgf0Ox0a6aOtuAPFABBKRMrrDfpOMYaqZnDq2YzwoJyxKbFCrjIK5QqyrBynyFhS4Nm+eIs3UYQbr2zQXCcb4IXxYhbiUnVEsjLYU/QwufzsYzM9YsGh+qVwRNlDI0pZkHdmjYmdKE173MwYa11ZZQCFQNG+Ka4x/PVM6JL/+N9xHZwUFM0Bb6+3pFR9TqlIP7/1ADRmWLTNAeggA2Qjh6KFFGbw6viaYne1DD+YF030Ur1kcFOzyUTF8eLdzEk/inZWTnUPLkkQI7Qwxz2/jBbnAeJp5hIzTOdJI0mwwk236pVLkeCgpkLJTJfVALTJM0wkdP3zHZH73Q95/Uvm6FutkolMvX5z2lm077VCJEPL4CRJeCbcdTIpUIqhm/boamDnr1lU1cE9nTjAiTbessT9AHLBx0hIzTB8IGJjcyO37JwcCJW9JCWTvxMRekxFFUAhpC2kdUvvYJhIQcJfT2WUyvBBMhHBcl5WFYZmpY0bM2LAi1r81kLADuM8jnnON6CvXFGZ8nNk790XEC+4jw49aJdcrmNdU15iKVFKn5z7nzubKui91kxgyi01uvoLq2rTFuNOSZ77XqEtndYU9972Ocp9HCgt1H7561gTI55xLLHaYR/ZwlnKmQH3zoYoFleLbUjy/DmXIOhLSD4YZ+AYhsQkU/t/fn0yd+sG+F3i/5L7w3uUAc8yTP1JHqdCdRatcVfeHBJp0QTt0jjKC/uZZooL/uiH3/gOeN3zOMu/T3rHpzPM8jl1YRag9OGEcbCpiCmN/OT851L/Gh/H0ceGBryurv32ul/i+f5ezrwVWF4ryVr9B1Lh/XNAEDUT4HuBGLZE2M59/U1M3OnZvkc9aZ+VbHN/EOM4V1ovKum/+W3NRb2eWzlMuVg2aBC+n/Nv3fCzTyq2uw3Nn2f98X58ziuR63dR2+DOn3qya2W5IU3lc7LB+P5lBDDkCq8nF4cJcZt7xPEauMDxdEpRmQQI/Jc367dGiawfy8ytufOcNjdYAiHU5MmezPVcfHHZeqHwSt/iE5Sqvfegh95zPTVa6V378y+TM1itLk4p/COL8XJZ04yLnHd7QIqq201s2fYjXkCI6HlegSQsNPFe1JnXXqvO4RbRgqAgx8zn/Ux4uhTs6oFKixkSG8JXhUrioo9ugUOHzoLws9L93174vrQTr5RNt2mTVNsjY3CTo5bA3xmd6tJcvxYDsJwcTZ0IMfC51DmdA/CopEamiFzAEvxCxIA/yyA+8dntNsifJ8R/4gx0562PxR5EfhfbMZ14Fin6LBwr58Gfr4i4zwgUcXBmmxAG56/mur2ednQUMpUjJAECqVksBQJRKBIA5tUg9B0RI+nHOBqkgo//8PYqOoA2o/YX/+Wf8hBY06QMWQzFU2ryz3l+HApYppTETspZDGVCm1ZoJCY9nKmn7Vfs9Gu2xOnsGKy6kMYqAVq6ECNquJIEIsU2jHA46LUhxlMG/dKyC2xPjcaVxZ2BFj0cM90jjbA4Zls5XB0ev4+PB+LpojeDhwPsbH6XnUi2D1oyrEkI9Yo0qWnRGoSzY63HlciI2A4fbHcBNDiAk49yKkGjgXQYhEQCA24H8J9If2TFkIYl+225DEqNv281IiuGy44iqruc5/IvxO3IP/qON5yXSGf2V/QJhG6fdQwohuJK55+wwUhkgvdt3tMvOIUT0WTcQnXHVcSRPFXiG2OEJh08Y495E0vJlTfCfbs/8lOHWFCCdNe7zFWL7NHYlUPM4y1zOTP6Vit+h1cxGavaRQe3qgwgxeD4xWPzsdTLl/1F3H81t6u8/Ncz/fy6NHNvkF0Y3QOwvgk9dpQW+Ti+zXFuMIc15nXhDwFiwIvcUULh74j0SloIP94b4mGnsvX1CkccsohEwlVeIFxp8jDdk+AIW7iFZsWFVvfg2m6OgA3cnfsD/jzCHPP0weDZAHRzJ4UpkqpBFlBvklP1qUFKkHMw3cF9QUx6akf/1klYqJEkYi5reAcH062BPfOscI8yokrwN8HBQFIpURmWQulA4V+2jiBHHMFVlbcAzA1AuTn5EHFzTSykFMd4ZkKM5EZ5ACRjyHDC+wXNegdJR1hmlkPzTgCVHOrtEIhTXjXgnmAw7ZdU6UXXL+SpDQtVQpJh4M0IFBTUUohJfLgNSTki00Ct7EZmO1SXhysgs9y0Ao/Bu3mzEioonvgQSSvRugDl5FHozkpXc/MLi0vLK6tr6xuaW6Ql/9gaweO4pFnK8Zu0Ab0Ihv0ic5LWpYiBzSAUgv9uB+JuQN68OEjS6x3i7u71lnavynpVsK3ME04mVZNSrVkjQa90uAf220x1KSzuT2uPoOkamGBZGQvzHO5FenXejfBV0O1STyZkWqgUrA63Zt8upyiTyHlOSdoPy4U1eFc4Xcazk/EAtFBIhSItWVUF1GQwhKknnH0u688OdathLTcUzwkMxTyv8tRoA') format('woff2'),
  url('//at.alicdn.com/t/font_1251424_q66z80q0hio.woff?t=1577526422376') format('woff'),
  url('//at.alicdn.com/t/font_1251424_q66z80q0hio.ttf?t=1577526422376') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1251424_q66z80q0hio.svg?t=1577526422376#kafka-manager') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'kafka-manager';
  /* project id 2406313 */
  src: url('//at.alicdn.com/t/font_2406313_rbsze6uqtta.eot');
  src: url('//at.alicdn.com/t/font_2406313_rbsze6uqtta.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2406313_rbsze6uqtta.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2406313_rbsze6uqtta.woff') format('woff'),
    url('//at.alicdn.com/t/font_2406313_rbsze6uqtta.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2406313_rbsze6uqtta.svg#iconfont') format('svg');
}

.kafka-manager {
  font-family: "kafka-manager" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .kafka-manager-record {
  font-family: "kafka-manager" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


.k-icon-fuwurenwuguanli:before {
  content: "\e660";
}

.k-icon-gerenzhongxin:before {
  content: "\e8e9";
}

.k-icon-xiaofeikecheng:before {
  content: "\e683";
}

.k-icon-iconfontzhizuobiaozhun023110:before {
  content: "\e670";
}

.k-icon-shenpi:before {
  content: "\e679";
}

.k-icon-order:before {
  content: "\e64b";
}

.k-icon-order1:before {
  content: "\e698";
}

.k-icon-renwuliebiao:before {
  content: "\e634";
}

.k-icon-operationrecord:before {
  content: "\e772";
}

.k-icon-menu2:before {
  content: "\e609";
}

.k-icon-xiaoxi:before {
  content: "\e711";
}

.k-icon-jiqun:before {
  content: "\e604";
}

.k-icon-yonghuguanli:before {
  content: "\e65c";
}

.k-icon-xiazhourenwu:before {
  content: "\e7d2";
}

.k-icon-Group-:before {
  content: "\e69e";
}

.k-icon-shenpi1:before {
  content: "\e6ff";
}

.k-icon-jiaoseshouquan:before {
  content: "\e640";
}

.k-icon-gaojing:before {
  content: "\ec34";
}

.k-icon-gaojing1:before {
  content: "\ec35";
}

.k-icon-renwu:before {
  content: "\e77a";
}

.k-icon-ziyuanxhdpi:before {
  content: "\e649";
}

.k-icon-baseline-close-px:before {
  content: "\e615";
}

.k-icon-guanliyuan:before {
  content: "\e600";
}

.k-icon-renwu1:before {
  content: "\e66b";
}

.k-icon-xinjian:before {
  content: "\e745";
}

.k-icon-chongzhi:before {
  content: "\e74c";
}

.k-icon-shuaxin:before {
  content: "\e74d";
}
